.btn {
    height: 4rem;
    width: 30rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
}

.btn:active {
    transform: scale(0.98);
}

.btn-primary {
    background-color: #4699e6;
    color: white;
}

.btn-secondary {
    background-color: #ededed;
    color: #5a5a5a;
}

.btn:disabled:active {
    transform: none;
}

.btn:disabled:hover {
    cursor: auto;
}
