div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
}

input, select {
    height: 3.5rem;
    border: none;
    border-radius: 8px;
    background-color: #ededed;
    color: #5a5a5a;
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
}

select:disabled {
    color: #cccccc;
}

.input-error {
    background-color: #ffe5e5;
    border: 1px #c70000 solid;
}

.error-message {
    color: #c70000;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

input:disabled {
    color: #cccccc;
}

input:disabled:hover {
    cursor: not-allowed;
}

.input-error::placeholder {
   color: #ffb7b7;
}

input::placeholder {
    font-weight: 400;
    color: #cccccc;
    opacity: 1;
}

label {
    font-weight: 300;
    font-size: 1.4rem;
    color: #5a5a5a;
}

.labels-holder {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0.5rem;
}

input[type="date"] {
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}

input[type="date"]::placeholder {
    color: #cccccc;
    opacity: 1;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.dots-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.dots-icon:hover {
    cursor: pointer;
}
.dots-icon:active {
    transform: scale(0.95) translateY(-50%);
}

.input-wrapper input {
    padding-right: 3rem;
}

.dropdown-menu {
    position: absolute;
    top: 50%;
    width: fit-content;
    right: 0;
    transform: translate(calc(-30% - 8px), -50%);
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    min-width: 100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

.dropdown-menu button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-align: left;
    width: 100%;
}

.dropdown-menu button:hover {
    background-color: #f2f2f2;
}
